<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text Utils</title>
</head>
<body>
<h1>Welcome to the Text Analyzer. <br>Enter Your Text Below</h1>
<form action = '/analyze' method='get'>
    <textarea name='text' style="margin:0px; width: 747px; height: 93px;"> </textarea><br>
    <input type = "checkbox" name="removepunc"> Remove Punctuations<br> <br>
    <input type = "checkbox" name = "fullcaps">UPPER CASE<br> <br>
    <input type = "checkbox" name = "newlineremover">New Line Remover <br><br>
    <input type = "checkbox" name="extraspaceremover"> Remove Extra Space<br><br>
    <button type='submit'>Analyze Text</button>
</form>
</body>
</html>